.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.is-done {
  opacity: 0.5;
}

.active {
  background-color: #7eece5;
}

.error {
  outline: none;
  border: 2px solid red;
}